ncmpcpp/error.log

ssh/id_rsa
ssh/known_hosts
ssh/putty

vim/bundle/
!vim/bundle/vundle/
vim/backup/
vim/tmp/

mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate

zsh/zsh_history

.DS_Store

gnupg/*~

colors/current

bin/prompts/current

wallpapers/current

fonts/*

.vagrant
.docker

xdg/share/gvfs-metadata
xdg/share/*.xbel
xdg/share/applications/*.cache

xorg/wallpapers/current
