ncmpcpp/error.log

ssh/id_rsa
ssh/id_ed25519
ssh/known_hosts
ssh/putty
ssh/config

vim/bundle/
!vim/bundle/neobundle.git/
vim/backup/
vim/tmp/
vim/bundle/NeoBundle.lock
vim/spell

nvim/dein
nvim/.netrwhist

mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate

zsh/zsh_history

.DS_Store

gnupg/*~

colors/current

bin/prompts/current

wallpapers/current

fonts/*

.vagrant
.docker

xdg/share/gvfs-metadata
xdg/share/*.xbel
xdg/share/applications/*.cache
xdg/share/applications/*-Default.desktop

xorg/wallpapers/current

*.lock

spacevim/.netrwhist

tmux/base16.conf
