# Machines
machines/*
!machines/tyro
!machines/betsy
!machines/aero
!machines/ci

# Machine-local secrets.
.secrets

# Machine-local OS theme.
theme.nix

# Machine-local Emacs theme.
config/emacs/+theme.el

# Machine-local Emacs config tangled from `config.org`.
config/emacs/config.el

# NixOS build results.
**/result

# QEMU VMs.
**/*.qcow*
