/*** BEGIN Firefox 77 (June 2, 2020) Override URL bar enlargement ***/
/***  https://support.mozilla.org/en-US/questions/1290682         ***/
/* Compute new position, width, and padding */
#urlbar[breakout][breakout-extend] {
  top: 5px !important;
  left: 0px !important;
  width: 100% !important;
  padding: 0px !important;
}
/* for alternate Density settings */
[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: 3px !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: 4px !important;
}
/* Prevent shift of URL bar contents */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}
/* Do not animate */
#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
}
/* Remove shadows */
#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: none !important;
}
/*** END Firefox 77 (June 2, 2020) Override URL bar enlargement ***/

/* Ditch the macOS window buttons altogether */
/* .titlebar-buttonbox-container { */
/*   display: none !important; */
/* } */

/* No gaps for macOS window buttons */
/* .titlebar-placeholder[type="pre-tabs"], */
/* .titlebar-placeholder[type="post-tabs"] { */
/*   display: none !important; */
/*   width: 1px !important; */
/*   max-width: 1px !important; */
/* } */

/* .titlebar-spacer[type="pre-tabs"], */
/* .titlebar-spacer[type="post-tabs"] { */
/*   display: none !important; */
/*   width: 1px !important; */
/*   max-width: 1px !important; */
/* } */
